@model GetADoctor.Web.Models.IndexViewModel
@using GetADoctor.Models
@{
    ViewBag.Title = "Manage your account";
}
<div class="row">
    <div class="top-bottom-padding">
        <h2>@ViewBag.Title.</h2>
        <hr />
        <p class="text-success">@ViewBag.StatusMessage</p>
        <div>
            <dl class="dl-horizontal">
                <dt>Password: </dt>
                <dd>
                    [
                    @if (Model.HasPassword)
                    {
                        @Html.ActionLink("Change your password", "ChangePassword")
                    }
                    else
                    {
                        @Html.ActionLink("Create", "SetPassword")
                    }
                    ]
                </dd>
                <dt>Address: </dt>
                <dd>
                    [
                    @if (Model.HasAddress)
                    {
                        @Html.ActionLink("Edit Address", "EditAddress")
                    }
                    else
                    {
                        @Html.ActionLink("Add Address", "AddAddress")
                    }
                    ]
                </dd>
                <dt>Profile: </dt>
                <dd>
                    [
                        @if (User.IsInRole(UserRoles.Patient.ToString()))
                        {
                            @Html.ActionLink("Update Profile", "UserProfile")
                        }
                        else if (User.IsInRole(UserRoles.Doctor.ToString()))
                        {
                            @Html.ActionLink("Update Profile", "DoctorProfile")
                        }
                    ]
                </dd>              
                <dt>External Logins:</dt>
                <dd>
                    @Model.Logins.Count [
                    @Html.ActionLink("Manage", "ManageLogins") ]
                </dd>               
            </dl>
        </div>
    </div>
</div>

