@model IEnumerable<GetADoctor.Web.Models.HomeDoctorViewModel>
@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="top-bottom-padding">
        <h2>List Doctors</h2>
        <hr />
    </div>
</div>
<div class="row">
    <table class="table table-bordered">
        <tr>
            <th>@Html.DisplayNameFor(model => model.FullName)</th>
            <th>@Html.DisplayNameFor(model => model.City)</th>
            <th>@Html.DisplayNameFor(model => model.Speciality)</th>
            <th>Action</th>
        </tr>
        @foreach (var item in Model)
            {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.FullName)</td>
                <td>@Html.DisplayFor(modelItem => item.City)</td>
                <td>@Html.DisplayFor(modelItem => item.Speciality.Name)</td>
                <td>@Html.ActionLink("BOOK", "Appointment", new { id = item.Id })</td>
            </tr>
        }
    </table>

</div>

