@model GetADoctor.Web.Models.DoctorViewModel
@{
    ViewBag.Title = "Get";
    var schedules = ViewBag.Schedules;
    var filePath = "../../Content/Uploads/Account/" + ViewBag.UserName + "/" + ViewBag.FileName;
}

<div class="row top-bottom-padding">
    <div class="col-md-12">
        <div class="col-md-6">
            <h2>Doctors Details</h2>
            <hr />
            <div class="col-md-4">
                @if ((ViewBag.FileName).Length > 0)
                {
                    <div class="thumbnail">
                        <img class="img-responsive" src="@filePath" alt="account-image" />
                    </div>
                }
            </div>
            <div class="col-md-8">
                <h1>@Model.FirstName @Model.LastName</h1>
                <p>@Model.CityName</p>
                <h2>Speciality: @Model.Speciality.Name</h2>
                <h3>Age: @Model.Age</h3>
                <h3>Gender: @Model.Gender</h3>
            </div>
        </div>
        <div class="col-md-6">
            <h2>Book Appointment</h2>
            <hr />
            @if (Enumerable.Count(schedules) > 0)
            {
                <h2>Avaiable Dates: </h2>
                foreach (var item in schedules)
                {
                    <h3>@item.Text</h3>
                }
                <h4>
                    @Html.ActionLink("BOOK", "Appointment", "Patient", new { id = Model.DoctorId }, new { @class = "btn btn-success" })
                </h4>
            }else
            {
                <h4>No Dates is avaiable</h4>
            }

        </div>   
    </div>
</div>

