@model GetADoctor.Web.Areas.Admin.Models.SpecialityViewModel

@{
    ViewBag.Title = "Details";
}

<dic class="row">
    <div class="top-bottom-padding">
        <h4>Speciality Details</h4>
        <hr />
    </div>
</dic>
<div class="row">
    <div>

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Code)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Code)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatedOn)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UpdatedOn)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UpdatedOn)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>
